[Libraries]
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Prevent merge conflicts on local Unity preferences
UserSettings/

# Optional: prevent local VSCode settings from being committed
.vscode/


# Visual Studio cache
.vs/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db

# Unity generated
*.pidb.meta
*.pidb
*.suo
*.userprefs
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Collab
.collab/

# Rider
.idea/
*.sln.iml
./Assets/Scenes/Tutorial.unity
